
/*/////////// Global Const /////////////*/
@ColorBase: black;
@Color0: black;
@Color1: white;
@Color2: #00A34D;
@Color3: #00FF15;
@headerHeight: 150px;
@centerWidth: 1450px;

@gCol1: #eee;
@gCol2: darken(@gCol1,20%);
@gCol3: darken(@gCol1,60%);
@gCol4: darken(@gCol3,20%);

@tCol1: #222;
@tCol2: #111;
@tCol3: #ddd;
@menuWidth: 300px;
@blockHeight: auto;
@anim: anim;
@rad: 10px;

/*/////////////// Global MiXiN ///////////////*/

.whl ( @w : 20px , @h : 20px , @l: auto) {
  	width: @w; 
  	height: @h;
  	line-height: @h;
} 
.posA ( @t: auto, @r: auto, @b: auto, @l: auto ) {
  	position: absolute;
  	top: @t; 
  	right: @r;
  	bottom: @b;
  	left: @l;
}
.text ( @color : @ColorBase, @size: 14px, @style: none ) {
	font-family: 'PT Sans', sans-serif;
  	font-size: @size;
  	font-style: @style;
  	color: @color;
  	.tshadow( @color, 1px ,0 ,0 );
}
.hidden { 
	display: none; 
}
.scale ( @x ,@y ) {
  	-webkit-transform: scale(@x,@y);
  	   -moz-transform: scale(@x,@y);
  	    -ms-transform: scale(@x,@y);
  	     -o-transform: scale(@x,@y);
  	        transform: scale(@x,@y);
}
.opacity(@v) { 
	opacity: @v;
}
.gradient (@c1,@c2) {
  	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, @c1), color-stop(1.0,@c2));
  	background-image: -moz-linear-gradient(top, @c1, @c2);
  	background-image:  -ms-linear-gradient(top, @c1, @c2);
  	background-image:   -o-linear-gradient(top, @c1, @c2);
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=@c1,endColorstr=@c2,GradientType=0);
}  
.shadow (@x1, @x2 ,@bl, @col) {
  	-webkit-box-shadow: @x1 @x2 @bl @col;
  	   -moz-box-shadow: @x1 @x2 @bl @col;
  	    -ms-box-shadow: @x1 @x2 @bl @col;
  	     -o-box-shadow: @x1 @x2 @bl @col;
  	        box-shadow: @x1 @x2 @bl @col;
}
.tshadow(@c, @s, @x, @y) {
  	text-shadow: @x @y @s @c;
}
.transform(...) {
    -webkit-transform: @arguments;
       -moz-transform: @arguments;
        -ms-transform: @arguments;
         -o-transform: @arguments;
            transform: @arguments;
}
.animation(...) {
  -webkit-animation: @arguments;
     -moz-animation: @arguments;
      -ms-animation: @arguments;
       -o-animation: @arguments;
          animation: @arguments;
}
.transn (...) {	
	-webkit-transition:	@arguments;
	   -moz-transition: @arguments;
	    -ms-transition: @arguments;
	     -o-transition: @arguments;
	        transition: @arguments;
}  
/*////////////// MiXin Key-Frames-Animation //////////////////
 * stolen from http://stackoverflow.com/questions/11551313 */
.keyframes(@name, @0, @50, @100) {
    @newline: `"\n"`;
    .Local(@x){};
    .Local(@x) when (@x="") {(~"}@{newline}/*"){a:a}/**/};
    .setVendor(@pre, @vendor) {
        (~"@{pre}@@{vendor}keyframes @{name} { @{newline} 0%") {
            .stage(@0);
        }
        50% {
            .stage(@50);
        }
        100% {
            .stage(@100);
        }
        .Local(@vendor);
    }
    .setVendor(""            , "-webkit-");
    .setVendor(~"}@{newline}",    "-moz-");
    .setVendor(~"}@{newline}",      "-o-");
    .setVendor(~"}@{newline}",         "");
}


/*//////////////// Init Animations Mixins /////////////*/
.stage(flip) { .transform( rotate(0deg) );}
.stage(flap) { .transform( rotate(360deg) ); }
.keyframes(flip-flap, flip, flap, flip);

.stage(pulse1) { .tshadow(white, 0px ,0px ,0px ); ; }
.stage(pulse2) { .tshadow(white, 11px ,0px ,0px ); ; }
.keyframes( white-text-pulse, pulse1, pulse2, pulse1);

.stage(roll) {.transform( rotate(180deg));} 
.keyframes(roll, flip ,roll, flap);

/*/////////////// Optimize Main Elements /////////////*/
::-webkit-scrollbar { display: none; } 
 
html {
	list-style: none;
	.text;
}
a {
	cursor: pointer;
	text-decoration: none;
	color: @ColorBase;
	&:visited{ color: @ColorBase };
}

/*/////////////// Here Starts CSS Makeup ///////////////*/
header {
	.whl(100%, @headerHeight);
	position: fixed;
  	z-index: 1;
  	top: 0;
  	background: white; //url("clouds6-1.jpg") no-repeat center ;
  	background-size: cover;
  	background-attachment: fixed;
  	div.container {
  		position: relative;
    	.whl(100%, 100% , auto);
    	text-align: left;
    	div.logo {
    		.posA(10px, auto, 20px, 10px );
    		.whl( (@headerHeight - 70) , (@headerHeight - 30), (@headerHeight - 30) ); 
    		background: url("logo.png") no-repeat center ;
    		background-size: cover;
    		display: inline-block;
    		&:hover {.animation(roll 1s infinite linear);}
    	}
    	label.logo {
    		margin-left: 100px;
    		.whl( auto , @headerHeight);  
      		.text (@Color2, 60px, 1000 ); 
      		text-transform: uppercase;
      		font-family: 'Calisto MT', century ;
      		display: inline-block;
      		&:hover {.animation(white-text-pulse .8s infinite linear);}
    	}
    	a.logo { 
    		margin-left: 50px; 
    		.whl( auto , @headerHeight); 
    		.text (@Color0 , 60px, 1000 ); 
      		text-transform: uppercase;
      		display: inline-block;
      		.hidden;
    	}
    	.menu {
        	.posA(@headerHeight,0,auto,0);
        	display: inline;
        	.whl(100%, 40px );
        	.gradient(@Color2, @gCol4 );
        	text-align: left; 
        	li {
         	 	margin-left: 10%;
          		display: inline;
          		.whl(80px, 40px );
          		* { 
          			text-transform: uppercase;
          			.text(@Color1, 20px, bold );
          			&:hover { 
          		    	.animation(white-text-pulse 2s infinite ease-in-out);
          			}
          		}
          		
        	}
      	}
  	}	
}


body {
  background: url("textured_paper.png");
  background-attachment: fixed;
  div.center {
  	h1 {
  		margin: 25px;
  		font-size: 30px;
  		font-weight: 900;
  		text-shadow: .07em .07em slateGray;
  	}
    .shadow(2px, 4px, 12px, fadeout(#000, 75%));
    .posA(@headerHeight+50,auto,auto,5%);
    padding: 20px;
    background: @gCol1; 
    .whl(@centerWidth, auto );
  }
}
 
.division {
	.depart-head {
		background:@Color2;
  	    border:@Color1 1px ridge;
  	    .gradient(@gCol1, @gCol2);
    	display: block;
    	text-transform: uppercase;
    	.text (@Color0, 14px, none );
    	cursor: pointer;
    	padding: 10px;
    	.shadow(0px, 1px, 5px, fadeout(#000, 75%));
    	.transn(all, .4s);    
    	&.selected {
      		.text (@Color3, 14px, none );
      		.gradient(@gCol1, @gCol3);
    	}
    	&:hover {
      		.gradient(@gCol3, @gCol2);
      		.text (@Color3, 14px, none );
    	}      
	}
	.departs {
    	.text (@Color0, 13px, none );
    	text-align: center; 
    	width: @centerWidth;
    	.gradient(@gCol3, @gCol1);
 		.hidden;   		
 		&.selected {
  			background:@Color1;
  		}
  		table {
  			margin-left: 50px;vertical-align: middle;
  			tr,th {vertical-align: middle;}
  		}  
		.factors-names {
      		height: 25px;
      		.text (@Color1, 15px,bold );
      		border-bottom:@Color0 2px solid;
      		* { display: inline-block; }
    	}   
   		 .depart { 
    	 	&.selected {
  				background:@Color1;
  			}
  			cursor: pointer;
        	.transn(all, .3s);
        	.opacity(0.6);
        	.column1,.column2,.column3,.column4,.column5, {
        		display: inline-block;  
        		overflow: hidden;
 			}
      		&:hover {
      			font-weight: bold;
      			font-size: 13px;
        		.opacity(1);
      		}
    	} 
  	}
}

.column1{
  width: 520px;
  text-align: left; 
  margin: 0px;
  padding: 3px;
  * { display: inline; }
}
.column2,.column3,.column4,.column5{
  width: 200px; 
  margin: 0px;
  display: inline-block;  
  * { margin: 5px; }
}
 
.notice {
	.text(green ,14px );
}
.invalid{
	.text(red ,14px );
	border: red 1px solid;
}
.validation{
	.text(red ,14px );
}

.debug_dump{
	background: url(bgnoise_lg.png);
	border: gray 1px groove;
	padding: 5px;
	border-radius: 5px;
	margin: 15px;
	font-family: 'Courier New';
}

.footer{
	border-top: @Color3 3px groove;
    padding: 10px;
    li {
    	display: inline; 
    	margin: 5px;
    }
    a {
    	
    	&:hover {
			color: @Color2; 
			text-decoration: underline; 
		}
    }
}


#lean_overlay {
    position: fixed;
    z-index: 500;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#feedback {
	display: none; 
	position: fixed; 
	opacity: 1; 
	z-index: 11000; 
	left: 50%; 
	margin-left: -202px; 
	top: 200px;
	background: white;
	border: gray 1px groove;
	height: 500px;
	width: 500px;
	border-radius: 5px;
}
