////////////////Globals////////////////
@gCol1: #eee;
@gCol2: darken(@gCol1,20%);
@gCol3: darken(@gCol1,60%);
@gCol4: darken(@gCol3,20%);
@tCol1: #222;
@tCol2: #111;
@tCol3: #ddd;
@green: #468721;
@menuWidth: 300px;
@blockHeight: auto;
@headerHeight: 180px;
@rad: 10px;
////////////////Global Classes////////////////
.whl ( @w : 20px , @h : 20px ) {
  width: @w; 
  height: @h;
  line-height: @h;
} 
.posA (@t: auto, @r: auto, @b: auto, @l: auto){
  position: absolute;
  top: @t; 
  right: @r;
  bottom: @b;
  left: @l;
}
.hidden { 
  display: none; 
}
.scale (@x ,@y) {
  -webkit-transform: scale(@x,@y);
  -moz-transform: scale(@x,@y);
  -ms-transform: scale(@x,@y);
  -o-transform: scale(@x,@y);
  transform: scale(@x,@y);
}
.opacity(@v) {
  opacity: @v;  
}
.gradient (@c1,@c2) {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, @c1), color-stop(1.0,@c2));
  background-image: -moz-linear-gradient(top, @c1, @c2);
  background-image: -ms-linear-gradient(top, @c1, @c2);
  background-image: -o-linear-gradient(top, @c1, @c2);
  background-color: @c1; 
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=@c1,endColorstr=@c2,GradientType=0);
}  
.shadow (@x1, @x2 ,@bl, @col) {
  -webkit-box-shadow: @x1 @x2 @bl @col;
  -moz-box-shadow: @x1 @x2 @bl @col;
  -ms-box-shadow: @x1 @x2 @bl @col;
  -o-box-shadow: @x1 @x2 @bl @col;
  box-shadow: @x1 @x2 @bl @col;
}
.tshadow(@c , @s , @x ,@y) {
  text-shadow: @x @y @s @c;
  //filter: Shadow(Color=@c, Direction=200, Strength=3px);
}


////////////////Main////////////////
html {
  list-style: none;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px; 
}

a {
  color: #000;
  text-decoration: none;
  &:visited{
    color: #000;
  }
}

header {
  .whl(100%, @headerHeight);
  position: fixed;
  z-index: 1;
  top: 0;
  
  div.container {
    position: relative;
    text-align: center;
    img { display: inline-block;background: url("logo.jpg");  }
    .logo { 
       font-size: 60px;
       font-style: bold;
       font-weight: 900;
       text-transform: uppercase;
       display: inline-block;  
       
       overflow: visible;
    }
    .menu {
        .posA(@headerHeight);
        .whl(100%; 40px; );
        .gradient( @green, @gCol4);
        text-align: center; 
        li {
          display: inline-block;
          .whl(80px;40px);
          transition: all .5s ease-in-out;   
          &:hover {
           .tshadow(white , 5px , 0px ,0px) ; 
          }
         
        }
      }
    
  }
}

body {
  background: url("textured_paper.png");
  background-attachment: fixed;
  div.center {
    .shadow(2px, 4px, 12px, fadeout(#000, 75%));
    margin-top: @headerHeight+50;
    
    padding: 12px;
    background: @gCol1; 
    height: auto;
    width: 1450px;
  }
}
 
.division {
  .depart-head {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    background: @tCol1;
    color: @tCol1;
    padding: 10px;
    .gradient(@gCol1, @gCol2);
    .shadow(0px, 1px, 5px, fadeout(#000, 75%));
    text-shadow: 1px, 1px, fadeout(#fff, 10%);
    cursor: pointer;
    transition: all .4s ease-in-out;       
    &.selected {
      .gradient(@gCol2, @gCol1);
      text-shadow: 1px 1px 1px black, 0 0 5px green;
      color: @tCol3;
    }
    &:hover {
      .gradient(@gCol3, @gCol2);
      color: @tCol3;
      text-shadow:1px 1px 1px black, 0 0 5px green;
    }      
  }

  .departs {
    line-height: 13px;
    margin: 0px, 12px;
    font-size: 13px;
    text-align: center; 
    width: 1450px;
    color: @tCol2;
    text-shadow: 1px, 1px, fadeout(#fff, 75%);
    .gradient(@green, @gCol1);
    .hidden;   
    .factors-names {
      height: 18px;
      padding: 2px;
      font-weight: bold;
      border-bottom: 2px solid;
      text-shadow: 1px 1px 3px white;
      * {
         display: inline-block;
      }
    }   
    .depart { 
      transition: all .3s linear ;    
      .opacity(0.6);
      .column1,.column2,.column3,.column4,.column5, {
        display: inline-block;  
        height: 25px;
        width: 200px;
        overflow: hidden;
        &.column1{
           width: 520px;
        }
      }
      &:hover {
        .scale(1.07,1.1);
        font-weight: 800;
        .opacity(1);
      }
    } 
  }
}

.column1{
  width: 520px;
  text-align: left; 
  label { margin: 0px; width: 520px; cursor: pointer; height: 25px; }
  * { display: inline; margin: 5px; padding: 0px; margin: 0px; }
}
.column2{
  width: 200px; 
  margin: 0px;
  * { width: 200px; height: 25px; padding: 0px; margin: 0px; }
}
.column3{
  width: 200px; 
  margin: 0px;
  * { width: 200px; height: 25px; padding: 0px; margin: 0px; }
}
.column4{
  width: 200px; 
  margin: 0px;
  * { width: 200px;height: 25px; padding: 0px; margin: 0px; }
}
.column5{
  width: 200px; 
  margin: 0px;
  * { width: 200px;height: 25px; padding: 0px; margin: 0px; }
}