<footer class="footer">
  	<nav>
    	<ul>
			<li> <a  rel="leanModal" href="#feedback">Обратная связь</a></li>
    	</ul>
    </nav>
	</br>
	<p>© 2013 <a href="http://intechbank.ru">Intechbank</a>, Russia Tatarstan Kazan'</p>
  	<p>Supported by "department of development and support of automated systems".</p>	 
</footer>

<div id='lean_overlay'></div> 
<div id="feedback" >
		Hello!!	 
	<a class="modal_close">Закрыть</a> 

</div>

<script src="/assets/worksheet_footer.js?body=1"></script>

 